In [3]:
num = 4
i = 1
while(i<=10):
    product = i*num
    print(f' {num} x {i} = {product}')
    i+=1

 4 x 1 = 4
 4 x 2 = 8
 4 x 3 = 12
 4 x 4 = 16
 4 x 5 = 20
 4 x 6 = 24
 4 x 7 = 28
 4 x 8 = 32
 4 x 9 = 36
 4 x 10 = 40

In [2]:
for num in range(2,6):
    for i in range(1,11):
        print(i*num)
    print('.......')

2
4
6
8
10
12
14
16
18
20
.......
3
6
9
12
15
18
21
24
27
30
.......
4
8
12
16
20
24
28
32
36
40
.......
5
10
15
20
25
30
35
40
45
50
.......

In [5]:
num = int(input('enter an number'))
i = 2
out = 0
while(i<num):
    if(num%i==0):
        out+=1
        break
    i+=1
if(out == 0):
    print('it is an prime number')
else:
    print('it is not an prime number')

enter an number 6

it is not an prime number

In [13]:
n= int(input('enter number one'))
i = 2
while(i<=n):
    c = 2
    out = 0
    while(c<i):
        if(i%c==0):
            out+=1
            break
        else:
            c+=1
    if(out == 0):
        print('prime number',i)
    i+=1

enter number one 12

prime number 2
prime number 3
prime number 5
prime number 7
prime number 11

In [3]:
num = int(input('enter the number'))
i = num
sum = 0
while(i>0):
    s = num%10
    i//=10
    num//=10
    sum = sum + s
print('the sum is ',sum)

enter the number 123

the sum is  6

In [4]:
sum = 0
for r in range(450,501):
    sum+=r
print('the sum is ',sum)

the sum is  24225

In [5]:
for num in range(400,501):
    total = 0
    org = num
    while(num>0):
        rem1=num%10
        num=num//10
        total+=rem1
    print('total==',org,total)

total== 400 4
total== 401 5
total== 402 6
total== 403 7
total== 404 8
total== 405 9
total== 406 10
total== 407 11
total== 408 12
total== 409 13
total== 410 5
total== 411 6
total== 412 7
total== 413 8
total== 414 9
total== 415 10
total== 416 11
total== 417 12
total== 418 13
total== 419 14
total== 420 6
total== 421 7
total== 422 8
total== 423 9
total== 424 10
total== 425 11
total== 426 12
total== 427 13
total== 428 14
total== 429 15
total== 430 7
total== 431 8
total== 432 9
total== 433 10
total== 434 11
total== 435 12
total== 436 13
total== 437 14
total== 438 15
total== 439 16
total== 440 8
total== 441 9
total== 442 10
total== 443 11
total== 444 12
total== 445 13
total== 446 14
total== 447 15
total== 448 16
total== 449 17
total== 450 9
total== 451 10
total== 452 11
total== 453 12
total== 454 13
total== 455 14
total== 456 15
total== 457 16
total== 458 17
total== 459 18
total== 460 10
total== 461 11
total== 462 12
total== 463 13
total== 464 14
total== 465 15
total== 466 16
total== 467 17
total== 468 18
total== 469 19
total== 470 11
total== 471 12
total== 472 13
total== 473 14
total== 474 15
total== 475 16
total== 476 17
total== 477 18
total== 478 19
total== 479 20
total== 480 12
total== 481 13
total== 482 14
total== 483 15
total== 484 16
total== 485 17
total== 486 18
total== 487 19
total== 488 20
total== 489 21
total== 490 13
total== 491 14
total== 492 15
total== 493 16
total== 494 17
total== 495 18
total== 496 19
total== 497 20
total== 498 21
total== 499 22
total== 500 5

In [10]:
n= int(input())
count = 0
m= n
x= n
sum = 0
while(m>0):
    m//=10
    count+=1
while(x>0):
    s = x%10
    x//=10
    sum =sum +s**count
if(sum == n):
    print('it is an armstrong')
else:
    print('it is not an armstrong')

 153

it is an armstrong

In [12]:
for n in range(150,401):

    count = 0
    m= n
    x= n
    sum = 0
    while(m>0):
        m//=10
        count+=1
    while(x>0):
        s = x%10
        x//=10
        sum =sum +s**count
    if(sum == n):
        print('it is an armstrong',n)

it is an armstrong 153
it is an armstrong 370
it is an armstrong 371