In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\DELL\\Documents\\covid_toy.csv")

In [3]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [4]:
from sklearn.impute import SimpleImputer

In [5]:
si = SimpleImputer()

In [6]:
df['fever'] = si.fit_transform(df[['fever']])

In [7]:
# df.isnull().sum()
# df.head(2)
df_label =df.copy()

In [8]:
from sklearn.preprocessing import LabelEncoder

In [10]:
lb = LabelEncoder()

In [11]:
df_label['gender'] = lb.fit_transform(df_label['gender'])
df_label['cough']= lb.fit_transform(df_label['cough'])
df_label['city'] = lb.fit_transform(df_label['city'])
df_label['has_covid'] = lb.fit_transform(df_label['has_covid'])

# (2). Ordinal Encoder

In [12]:
df_ordinal = df.copy()
# df_ordinal.head(2)

In [13]:
df_ordinal = df_ordinal.drop(columns = ['age' , 'fever' ,'city'])
# df_ordinal.head(2)

In [14]:
from sklearn.preprocessing import OrdinalEncoder

In [15]:
oe = OrdinalEncoder(categories = [['Male','Female'],
                                 ['Mild','Strong'],
                                  ['Yes','No']])

In [16]:
df_oe = oe.fit_transform(df_ordinal)
df_new = pd.DataFrame(df_oe, columns = df_ordinal.columns)

In [17]:
df_new.head(2)

   gender  cough  has_covid
0     0.0    0.0        1.0
1     0.0    0.0        0.0

# (3). OneHot Encoder
gender(m,f) ---> create a new column of these sub-categories----->
c1(M),c2(F)

In [18]:
df_one = df.copy()
# df_one.head(2)

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [26]:
oe = OneHotEncoder(drop='first' , sparse_output=False)#sparse_output = focus only on non 
#zero values
oe_arr=oe.fit_transform(df_one[['gender','cough','city','has_covid']])

# (4). Get_dummies

In [21]:
df_get = df.copy()

In [22]:
df_get.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [24]:
d = pd.get_dummies(df_get , columns = ['gender' , 'cough', 'city', 'has_covid'],
              drop_first = True)

In [25]:
d.astype(int)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103,1,0,0,1,0,0
1,27,100,1,0,1,0,0,1
2,42,101,1,0,1,0,0,0
3,31,98,0,0,0,1,0,0
4,65,101,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
95,12,104,0,0,0,0,0,0
96,51,101,0,1,0,1,0,1
97,20,101,0,0,0,0,0,0
98,5,98,0,1,0,0,1,0
99,10,98,0,1,0,1,0,1

In [ ]:
# Data Preprocessing Steps
# (1). Data dividation ---- >
# x,y
# x_train , x_test , y_train , y_test 

# (2). Stadardiation --- > mean = 0 . std = 1 --- > Normal distribution
# (3). MinMaxScaling --- > min = 0 , max = 1 ---- > Data scaled format
# (4). Encoding --- > Transform your categorical data into Numerical data.
# (4a). Label---- > 1-D data convert
# (4b) .Ordinal ---- > multi-dimensional data convert and here we can
# set our sub-categories.
# (4c). OneHot --- > column -- > sub-categories --- > New_column
# (4d). get_dummies --- > columns --- > sub-categories --- > New_column+column_name