In [ ]:
import pandas as pd

In [1]:
a = pd.series([1,45,34,90])
a

NameError: name 'pd' is not defined

In [6]:
import pandas as pd
a = {
    'emp_id':[1,2,3,4],
     'emp_name':['karan','aakash','ashish','yash'],
     'domain':['IT','sales','chai','sde'],
     'working_hours':[8,12,15,7],
     'salary':[60000,40000,90000,70000]
    }

In [8]:
df = pd.DataFrame(a)
df

   emp_id emp_name domain  working_hours  salary
0       1    karan     IT              8   60000
1       2   aakash  sales             12   40000
2       3   ashish   chai             15   90000
3       4     yash    sde              7   70000

In [9]:
df.to_csv('C:\\Users\\DELL\\emp_data.csv')

In [10]:
df.to_csv('C:\\Users\\DELL\\Junework\\emp_data.csv')